

body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 5.625rem;
  color: #00005C;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  font-size: 2.5rem;
  color: #00005C;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3{
  color: #395144;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}
hr{
  border: dotted #A9AF7E 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #59C1BD;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #C539B4;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.sports{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.developer{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.top-container{
  background-color: #59C1BD;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  background-color: #A0E4CB;
  padding-bottom: 100px;
}
.bottom-container{
  background-color: #CFF5E7;
  padding: 50px 0 20px;
}
.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 20px auto 100px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.profilepic{
  max-width: 10%;
  height: auto;
  margin-top: 100px;
}
.copyright{
  color: #A9AF7E;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
